.vscode/**
.claude/**
.vscode-test/**
.vscode-test.mjs
*.vsix
src/**
out/**
doc/**
node_modules/**
.gitignore
.eslintrc.json
esbuild.js
tsconfig.json
DESIGN.md
**/*.map
**/*.ts
.github/**
_site/**
mkdocs*.yml
